@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #000;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

body,
.container {
  -webkit-touch-callout: none;
  /* Disable long press */
  -webkit-user-select: none;
  /* Disable text selection */
  user-select: none;
}

.container {
  height: 100%;
  max-width: 430px;
  margin: 0 auto;
}

.cards {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  padding: 10px;
  gap: 10px;
}

.top-section,
.bottom-section {
  display: flex;
  flex: 1;
  gap: 10px;
}

.card {
  flex: 1;
  background: #D9D9D9;
  border-radius: 15px;
  padding: 2vh;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
}

.card h1 {
  font-weight: 400;
  font-size: 15vh;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;

  z-index: 111111;
  pointer-events: none;
}

.card .icon {
  font-size: 20px;
}

.center-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.round-button {
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 78px;
  height: 78px;
  margin: 0 auto;
  border-radius: 50%;
  border: 4px solid white;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.5);
  background-image: url('images/reset.svg');
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}

.round-button:active,
.round-button.active {
  box-shadow: none;
  translate: 1px 1px;
}

.card p {
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  z-index: 111111;
  pointer-events: none;
}

.center-controls button:not(.active) img {
  filter: grayscale(100%);
}

.center-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 60px;
}

.center-controls img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.round-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.center-controls button {
  background: #D9D9D9;
  border: none;
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 71px;
  height: 71px;
  transition: background-color 0.2s;
}

.center-controls button.active img {
  filter: none;
}

.center-controls button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: grayscale(100%);
}

.level.high.active svg rect:first-child {
  fill: red;
}

.level.mid.active svg rect:nth-child(2) {
  fill: orange;
}

.level.low.active svg rect:nth-child(3) {
  fill: yellow;
}

.level.low.active svg .bg {
  fill: yellow;
}

.center-controls button.active {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.half {
  transition: 0.05s linear;
  opacity: 0;
}

.half:active,
.half.active {
  opacity: 1;
}

.top-half {
  background: linear-gradient(0, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
}

.bottom-half {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
}

.increment-display {
  font-size: 14px;
  font-weight: bold;
  color: rgb(70, 70, 70);
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
  z-index: 10;
  margin-top: -30px;
  margin-bottom: 0px;
}